<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <span class="navbar-brand">Star Wars Fan App</span>
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mt-2 mt-md-0" id="navbarSupportedContent" [ngbCollapse]="isNavbarCollapsed">
    <div class="mr-auto"></div>
    <select class="custom-select mb-2 mb-md-0 mr-sm-2 filter" id="search-filter" (change)="resourcesService.filter($event.target.value)">
      <option value="choose" selected>Filter...</option>
      <option *ngFor="let resource of resources; index as i" class="text-{{resource.color}}" [value]="resource.type">{{ resource.type | titlecase }}</option>
    </select>
    <form class="mb-2 mb-md-0 mr-sm-2">
      <input class="form-control" type="search" placeholder="Search..." aria-label="Search" (input)="resourcesService.search($event.target.value)">
    </form>
    <button type="button" class="btn btn-outline-secondary" (click)="authService.signOut()">Sign out</button>
  </div>
</nav>
