<div class="card h-100">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ (resource.name || resource.title) | titlecase }}</h5>
    <h6 class="card-subtitle mb-2 text-muted"><span class="badge badge-{{color}}">{{ type | titlecase }}</span></h6>
    <p class="card-text">{{ summary | slice:0:100 }}...</p>
    <button class="card-link btn btn-outline-secondary btn-sm w-100 mt-auto" (click)="openDetails()">Details</button>
  </div>
</div>
