<div class="container-fluid mt-3">
  <!-- TODO: Loading animation -->
  <div class="row">
    <ng-container *ngFor="let resource of resourcesService.display()">
      <ng-container  *ngIf="resource.active">
        <div class="col-12 col-md-3 col-lg-2 mb-3" *ngFor="let r of resource.results">
          <app-resource [resource]="r" [type]="resource.type" [color]="resource.color" [summary]="resourcesService.getSummary(r)"></app-resource>
        </div>
        <!-- TODO: Pagination -->
      </ng-container>
    </ng-container>
  </div>
</div>
