<div class="container h-100">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col col-md-6">
        <div class="card bg-light">
          <div class="card-body">
            <form [formGroup]="signinForm" (ngSubmit)="onSubmitForm()">
              <div class="form-group">
                <label for="email">E-Mail address</label>
                <input type="mail" formControlName="email" id="email" class="form-control" autofocus/>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" id="password" class="form-control"/>
              </div>
              <input type="submit" class="btn btn-primary w-100" value="Connexion" [disabled]="signinForm.invalid"/>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
