<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ (resource.name || resource.title) | titlecase }} <span class="badge badge-{{color}}">{{ type | titlecase }}</span></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let info of resourcesServices.getSummaryInfo(resource)">
        <th scope="row">{{ info.key | titlecase }}</th>
        <td>{{ info.value | titlecase }}</td>
      </tr>
    </tbody>
  </table>
</div>
